@import './variables.scss';

body,
button {
	font-family: 'Red Hat Text', serif;
}

* {
	outline: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

.container {
	padding: 85px 112px;
	background-color: $rose-50;
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-gap: 34px;

	@media (max-width: 650px) {
		grid-template-columns: 1fr;
		grid-template-rows: max-content 1fr;
	}

	@media (max-width: 1200px) {
		padding: 24px;
	}
}

.title-and-products {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.title {
	font-size: 40px;
	font-weight: bold;
}

.products {
	display: grid;
	grid-template-columns: repeat(3, max-content);
	grid-gap: 34px 25px;

	@media (max-width: 1400px) {
		grid-template-columns: repeat(2, max-content);
	}

	@media (max-width: 900px) {
		grid-template-columns: 1fr;
	}
}

.button {
	padding: 16px;
	border-radius: 50px;
	background-color: $red;
	color: $white;
	border: none;
	font-weight: 600;
	font-size: 16px;
	cursor: pointer;
	transition: $transition;
	width: 100%;

	&:hover {
		background-color: darken($red, 10%);
	}
}

*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background: $rose-100;
	border-radius: 10px;
	cursor: pointer;
}

*::-webkit-scrollbar-thumb:hover {
	background: $rose-300;
}
